body{
    height : 100vh;
    min-width : 100vw;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    color:  hsl(215, 51%, 70%);
}

p{
    margin-bottom: 0;
}

hr{
    height: 1px;
    border: none;
    background-color:  hsl(215, 32%, 27%);
}

a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.hover{
    color: hsl(178, 100%, 50%);
}

.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    width:300px;
    height:500px;
    box-shadow: 0 8px 16px 0 rgba(19, 16, 16, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 30px;
}

.layer{
    height:50%;
    border-radius: 10px;
}

.layer_hover{
    background-color: hsl(178, 100%, 50%);
}

.image_conatainer{
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.img_hover{
    opacity: 70%;
}

.ethereum_img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.eye{
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 43%;
}

.eye_hover{
    visibility: visible;
}

.info{
    height:30%;
}

.R_T_container{
    border-top: 0;
    display: flex;
    flex-direction: row;
}

.rate{
    text-align: left;
    width: 50%;
    color: hsl(178, 100%, 50%);
}

.time{
    text-align: right;
    width:50%;
}

.creator{
    height:20%;
    padding-right: 30px;
}

.avatar{
    height: 50px;
    width: 50px;
    float: left;
}

.credit{
    float:right;
}

@media  screen and (max-width: 500px) {
    .card{
        width:250px;
    }
}
